<div class="grid">
    <div class="col-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Titulo
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>Simple card</mat-card-content>
            <mat-card-actions>
                <button>cancelar</button>
                <button>confirmar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>