<h1 appFontSize [size]="20">Cursos</h1>

<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let curso"> {{curso.id}} </td>
    </ng-container>


    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre</th>
        <td mat-cell *matCellDef="let curso"> {{curso.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha_inicio">
        <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
        <td mat-cell *matCellDef="let curso"> {{curso.fecha_inicio}} </td>
    </ng-container>


    <ng-container matColumnDef="fecha_fin">
        <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
        <td mat-cell *matCellDef="let curso"> {{curso.fecha_fin}} </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let curso">
            <button  *ngIf= "(authUser$ | async)?.role=='admin'" mat-icon-button (click)="eliminarCurso(curso)"><mat-icon>close</mat-icon></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>