<h1 appFontSize [size]="20">Alumnos</h1>

<div class="mb-3" *ngIf= "(authUser$ | async)?.role=='admin'">
    <button (click)="abrirABMAlumnos()" mat-flat-button color="primary">
        <mat-icon>
            add
        </mat-icon>
        Agregar alumno
    </button>
</div>

<form class="grid formgrid">
    <div class="field col-12">
        <mat-form-field class="search">
            <mat-label>Buscar por nombre</mat-label>
            <input matInput name="search" [(ngModel)]="search" (ngModelChange)="filterData($event)">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>
    </div>
</form>

<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.id}} </td>
    </ng-container>


    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre - Username </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno | completeName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.email}} </td>
    </ng-container>


    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let alumno">
            <button *ngIf="(authUser$ | async)?.role=='admin'" mat-icon-button
                (click)="eliminarAlumno(alumno)"><mat-icon>close</mat-icon></button>
        </td>
    </ng-container>

    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let alumno">
            <button *ngIf="(authUser$ | async)?.role=='admin'" mat-icon-button
                (click)="editarAlumno(alumno)"><mat-icon>edit</mat-icon></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>