<h1 mat-dialog-title>ABM Alumnos</h1>
<div mat-dialog-content>
    <form class="grid formgrid" [formGroup]="alumnosForm">
        <div class="field col-12">
            <mat-form-field class="w-full">
                <mat-label>Nombre Completo</mat-label>
                <input matInput [formControl]="nombreControl">
                <mat-error>Este campo es requerido</mat-error>
            </mat-form-field>
        </div>
        <div class="field col-12">
            <mat-form-field class="w-full">
                <mat-label>Nombre de usuario</mat-label>
                <input type="text" matInput [formControl]="usernameControl">
                <mat-error>Este campo es requerido</mat-error>
            </mat-form-field>
        </div>
        <div class="field col-12">
            <mat-form-field class="w-full">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailControl">
                <!-- <div *ngIf="mailControl?.hasError('required') && mailControlIsInvalid" class="invalid-feedback">
                    Este campo es requerido.
                </div>
                <div *ngIf="mailControl?.hasError('email')" class="invalid-feedback">
                    No es un email valido.
                </div> -->
                <mat-error *ngIf="mailControl?.hasError('required') && mailControlIsInvalid">Este campo es requerido</mat-error>
                <mat-error *ngIf="mailControl?.hasError('email')">Email invalido</mat-error>
            </mat-form-field>
        </div>
        <div class="field col-12">
            <mat-form-field class="w-full">
                <mat-label>Telefono</mat-label>
                <input type="text" matInput [formControl]="telefonoControl">
                <mat-error>Este campo es requerido</mat-error>
            </mat-form-field>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close="">Cancelar</button>
    <button (click)="guardar()" mat-button>Guardar</button>
</div>